 <div style="padding-left:20px;padding-right: 20px">
            <div class="container">
                <h1>NEW EVENT</h1>
                <hr />
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName">eventName*</label>
                        <input id="eventName" required type="text" ng-model="event.name" placeholder="Name Of Your Event "/>
                        <label for="eventDate">eventDate*</label>
                        <input id="eventDate" type="text" required ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d)|([2-9]\d{3})$/" ng-model="event.date" placeholder="format (mm/dd/yy)"/>
                        <label for="eventTime">eventTime*</label>
                        <input id="eventTime" type="text" required ng-pattern="/(1[012]|[1-9]):[0-5][0-9]/" ng-model="event.time" placeholder="hh:mm "/>
                        <label for="eventLocation">eventLocation*</label>
                        <input id="eventLocation" type="text" required ng-model="event.location.address" placeholder="Address Of Event"/>
                        <br/>
                        <input id="eventCity" required ng-pattern="/^(?!.*[0-9])[a-zA-Z]/" type="text" class="input-small" ng-model="event.location.city" placeholder="City"/>
                        <input id="eventProvince" required ng-pattern="/^(?!.*[0-9])[a-zA-Z]/" type="text" class="input-small" ng-model="event.location.province" placeholder="Province"/>

                        <div>{{event.name}}</div>

                        <label for="eventImageUrl">Image:</label>
                        <input id="eventImageUrl" type="url" class="input-xlarge" ng-model="event.imageUrl" placeholder="image url"/>
                       <img ng-src="{{event.imageUrl}}"  />

                    </fieldset>

                    <br />
                    <br />

                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">SAVE</button>
                    <button type="button" ng-click="cancleEvent()" class="btn btn-default">CANCEL</button>
                </form>

            </div>
    </div>


